:root {
  --gold-gradient-start: #f0c15c;
  --gold-gradient-end: #d29d39;
  --dark-brown: #594438;
  --button-white: #ffffff;
  --button-text: #0d1f12;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 60rem;
  background: linear-gradient(
    to bottom,
    var(--gold-gradient-start),
    var(--gold-gradient-end) 40%,
    var(--dark-brown) 40%
  );
  color: white;
  text-align: center;
}

.top-section {
  z-index: 0;
  padding: 30px 20px 10px;
}

.logo-placeholder {
  margin: 0 auto;
  width: 250px;
  height: 200px;
}

.logo-placeholder img {
  width: 100%;
  height: auto;
  display: block;
}

.content-section {
  z-index: 1;
  height: 10rem;
  margin: 4rem 0 4rem;
  background-color: var(--dark-brown);
  padding: 10rem 2rem 2rem;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.headline {
  font-size: 1.6rem;
  font-weight: bold;
  /* margin-bottom: 100px; */
}

.description {
  font-size: 1.2rem;
  color: #f0e7df;
  margin-bottom: 2rem;
}

.button-placeholder {
  background-color: var(--button-white);
  color: var(--button-text);
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 30px;
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 768px) {
  .headline {
    font-size: 1.9rem;
  }
  .description {
    font-size: 1.2rem;
  }
  .button-placeholder {
    font-size: 1.4rem;
  }
  .logo-placeholder {
    width: 360px;
  }
}
